%table#table
  %thead
    %tr
      %th Name
      %th Title
      %th Content
      %th Flair

  %tbody
    - @blogs.each do |blog|
      %tr
        %td= blog.name
        %td= blog.title
        %td= blog.content
        %td= blog.flair
        %td= link_to 'Show', blog
        %td= link_to 'Edit', edit_blog_path(blog)
        %td= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' }
