%p#notice= notice

.box
  %h1= @blog.title
  %p= simple_format(@blog.content)
  .float
    %h6.author.left.child= @blog.name
    %h6.date.right.child= get_date(@blog)
  .link
    - if @blog.user == current_user || current_user.try(:admin?)
      = link_to 'Edit', edit_blog_path(@blog)
      \|
      = link_to 'Destroy', @blog, method: :delete, data: { confirm: 'Are you sure?' }
      \|
      = link_to 'Back', blogs_path
